* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 10px;
  background-color: lemonchiffon;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button{
  background-color:rgba(218, 209, 235, 0.834);
  border-color: rgb(193, 186, 209);
  margin: 10px;
  padding: 10px;
  width: 200px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(247, 244, 104);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
}

.editor {
  display: flex;
  flex-direction: row;
}

.editor-container1 {
  margin-top: 100px;
}

.btn-small {
  display: block;
  background-color: rgba(218, 209, 235, 0.57);
  margin: 0;
  padding: 5px;
  width: 100px;
  border-radius: 10px;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-small:hover {
  background-color: rgba(177, 147, 233, 0.648);
}

.nav {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
}

.header {
  margin: 50px 0;
}

.header-loggedIn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.save-container {
  display: flex;
  flex-direction: row;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  border: 0.1em solid;
  border-color: blueviolet;
}

.auth-part {
  display: flex;
  flex-direction: row;
}

.auth-input {
  width: 70%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "~trix/dist/trix.css";